*~
.DS_Store
/config/database.yml
/config/amazon_s3.yml
/config/paperclip_labels.yml
/config/backup_fu.yml
/log/*
/db/development_structure.sql
/db/structure.sql
*.sqlite3
log/*.log
index
tmp/
pkg/
doc/
/public/wine_list_labels
/public/wine_lists
/public/cork_labels
/public/user_labels
/public/ads
/public/assets
/vendor/plugins/rubber
/vendor/plugins/morph_acts_as_solr/solr/logs
/vendor/plugins/morph_acts_as_solr/solr/tmp
/vendor/plugins/morph_acts_as_solr/solr/solr/data
web.tmproj
public/bottle_source_labels/*
public/venue_labels/
public/bottle_source_image_labels/*
public/wine_list_labels/*
public/wine_lists/*
public/bottlesource_labels/*
public/retailers/*
public/search_request_labels/*
public/search_requests/*
config/skip_solr
public/bottle_labels/*
public/bottle_source_labels/*
public/wine_labels/*
public/offers/*
public/fulfillers/
.project
.rvmrc
.rbenv-version
.env
/uploaded
/test/wine_lists/ma-virtual-example.xml
/test/wine_lists/ma-virtual-image-example.xml
.tddium*
.sass-cache/
.yardoc
